@font-face {
    font-family: Simply Rounded;
    src: url("fonts/Simply Rounded.ttf");
}

@font-face {
    font-family: Nunito;
    src: url("fonts/Nunito-Regular.ttf");
}


/* Navigation bar which is sticky so you can navigate anytime anywhere */

.navbar{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    background: linear-gradient(135deg, #6ca9ff 0%, #a0e2ff 100%);
    transition: 0.3s;
    opacity: 50%;
    z-index: 1100;
}

.navbar:hover {
  background-color: #ddd;
  color: black;
  opacity: 100%;
}

.navbar a:hover {
  background-color: #fff9dc;
  color: black;
  font-size: 120%;
}

.navitem{
    margin: 1%;
    margin-right: 10%;
}

a{
    text-decoration: none;
    transition: 0.3s;
    font-size: 130%;
    color: white;
}

a.here .tooltiptext{
    position: absolute;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    transition: 0.5s;
    top: 110%;
    left: 20%;
    margin-left: 7%;
    transition: 0.3s;
}

a.here:hover .tooltiptext{
    visibility: visible;
}

/* Light's character bio and portrait go under here */

body {
    margin: 0;
    font-family: Nunito;
    background-image: url(images/realclouds.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
}

.flex1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin: 5%;
}

.name{
    text-align: center;
    padding: 2%;
    font-size: 150%;
    text-decoration: underline;
    background: linear-gradient(180deg, #201d21 0%, #333034 100%);
    color: antiquewhite;
    transition: 0.5s;
    border-radius: 10%;
}

.name img{
    animation: expand 7s infinite;
}

@keyframes expand{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}

.name:hover{
    transform: scale(1.05);
    background: linear-gradient(180deg, #d8ccbd 0%, #fdfaf1 100%);
    color: #201d21;
    -webkit-box-shadow:0px 0px 48px 4px rgba(255,255,255,0.45);
    -moz-box-shadow: 0px 0px 48px 4px rgba(255,255,255,0.45);
    box-shadow: 0px 0px 48px 4px rgba(255,255,255,0.45);
}

.bio{
    margin: 2%;
    background: linear-gradient(180deg, #a0aac6 0%, #8cc0fc 100%);
    color: antiquewhite;
    padding: 2%;
    font-size: 140%;
    transition: 0.5s;
}

.bio:hover{
    transform: scale(1.05);
}

.body{
    background: linear-gradient(180deg, #201d21 0%, #333034 100%);
    color: antiquewhite;
    margin: 1vw;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    padding: 2%;
    font-size: 140%;
    transition: 0.5s all;
    border-radius: 10%;
    text-align: center;
    border: 8px double rgb(219, 187, 165);
}

.body:hover{
    transform: scale(1.05);
}

.artfight-bio{
    margin: 2vw;
    padding: 1%;
    background-color: rgb(159, 191, 202);
    background-blend-mode: soft-light;
    background-image: url(images/borderdeco.PNG);
    background-position: 5%;
    border: 9px double rgb(222, 240, 252);
    border-radius: 30%;
    font-size: 120%;
    font-family: Simply Rounded;
    color: rgb(62, 86, 106);
    opacity: 70%;
    transition: 0.5s;
    text-align: center;
}

.artfight-bio:hover{
    opacity: 100%;
    transform: scale(1.05);
}

.border{
    display: flex;
    justify-content: space-around;
}

.resources{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
    margin: 5%;
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    font-size: 120%;
    color: antiquewhite;
}

.linkitem{
    margin: 1%;
    padding: 2%;
    background-color: #333034;
    transition: 0.5s all;
}

.linkitem:hover{
    background: linear-gradient(180deg, #a0aac6 0%, #8cc0fc 100%);
    transform: scale(1.5) rotate(-10deg);
}

.linkitem button{
    font-family: Nunito;
    font-size: 120%;
    transition: 0.5s;
}

.linkitem:hover button{
    cursor: pointer;
    background-color: #201d21;
    color: antiquewhite;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    animation: animatetop 0.5s;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

