/* STYLE FOR YOU MAIN.HTML */
@font-face {
    font-family: Simply Rounded;
    src: url("fonts/Simply Rounded.ttf");
}

@font-face {
    font-family: Nunito;
    src: url("fonts/Nunito-Regular.ttf");
}

body {
    margin: 0;
    background-image: url(images/cloudbgmain.webp);
    background-position: 50%;
    font-family: Nunito;
}

.introduction{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin: 2vw;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    background-color: rgb(159, 191, 202);
    background-blend-mode: soft-light;
    border: 9px double rgb(222, 240, 252);
    border-radius: 30%;
    font-size: 140%;
    font-family: Simply Rounded;
    background-image: url(images/borderdeco.PNG);
    background-position: 5%;
    color: rgb(62, 86, 106);
}

.body1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: 3vw;
    padding: 2%;
    background-color: rgb(174, 174, 174);
}

.txtandimg{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 2vw;
}

.body2{
    background-color: rgb(174, 174, 174);
    margin: 1vw;
    padding: 2%;
    font-size: 140%;
}

.intropic{
    margin-right: 48%;
    padding: 2%;
}

/* Below is the next section which will give a brief overview of my personal Sky journey, will be elaborated on in the gallery */

.overview{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.border1{
    display: flex;
    justify-content: space-around;
    animation: glow 5s infinite;
}


.brief{
    margin: 2vw;
    margin-left: 10%;
    margin-right: 10%;
    padding: 1%;
    background-color: rgb(159, 191, 202);
    background-blend-mode: soft-light;
    border: 9px double rgb(222, 240, 252);
    border-radius: 30%;
    font-size: 140%;
    font-family: Simply Rounded;
    color: rgb(62, 86, 106);
}


@keyframes glow{
    0%{
        -webkit-box-shadow:0px 0px 48px 4px rgba(255,255,255,0.45);
        -moz-box-shadow: 0px 0px 48px 4px rgba(255,255,255,0.45);
        box-shadow: 0px 0px 48px 4px rgba(255,255,255,0.45);
    }

    50%{
        -webkit-box-shadow:0px 0px 29px 14px rgba(255,255,255,0.8);
        -moz-box-shadow: 0px 0px 29px 14px rgba(255,255,255,0.8);
        box-shadow: 0px 0px 29px 14px rgba(255,255,255,0.8);
    }
    100%{
        -webkit-box-shadow:0px 0px 48px 4px rgba(255,255,255,0.45);
        -moz-box-shadow: 0px 0px 48px 4px rgba(255,255,255,0.45);
        box-shadow: 0px 0px 48px 4px rgba(255,255,255,0.45);
    }
}


