/* STYLE FOR YOUR INDEX.HTML */
@font-face {
    font-family: Simply Rounded;
    src: url("fonts/Simply Rounded.ttf");
}


body {
    margin: 0;
    background: linear-gradient(135deg, #6ca9ff 0%, #a0e2ff 100%);
    font-family: Simply Rounded;
}

.flex-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 5vw;
    padding: 2%;
    background-color: rgb(174, 174, 174);
}


.light{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-around;
}

.portrait{
    background-color: gray;
    text-align: center;
    padding: 5%;
}

.textbox{
    background-color: rgb(160, 160, 160);
    margin: 3%;
    padding: 2vh;
    font-size: 110%;
}

button{
    background-color: #100351;
    border: 10px groove #130e7e;
    color: white;
    border-radius: 20%;
    font-family: Simply Rounded;
    font-size: 150%;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 3vw;
}

.enter{
    margin-left: 5%;
    margin-right: 5%;
}

