/* STYLE FOR YOUR INDEX.HTML */
@font-face {
    font-family: Simply Rounded;
    src: url("fonts/Simply Rounded.ttf");
}

@font-face {
    font-family: Nunito;
    src: url("fonts/Nunito-Regular.ttf");
}


body {
    margin: 0;
    background: linear-gradient(135deg, #6ca9ff 0%, #a0e2ff 100%);
    font-family: Simply Rounded;
    background-image: url(images/isle_thatskygame.avif);
    background-size: cover;
    background-repeat: no-repeat;
}

.headerimage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2vw;
    border: 9px double #afacfa;
    border-radius: 80%;
}

.flex-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 3vw;
    padding: 2%;
    background-color: rgb(174, 174, 174);
}


.light{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-around;
    font-family: Nunito;
}

.portrait{
    background-color: gray;
    text-align: center;
    padding: 5%;
}

.textbox{
    background-color: rgb(160, 160, 160);
    margin: 3%;
    padding: 2%;
    font-size: 130%;
}

button{
    background: linear-gradient(180deg, rgb(251, 224, 250) 0%, rgb(177, 175, 245) 100%);
    border: 8px double #6f6fd3;
    color: rgb(91, 116, 227);
    border-radius: 40%;
    font-family: Simply Rounded;
    font-size: 170%;
    padding: 5%;
    margin: 3%;
    transition: 0.3s;
}

button:hover{
    background: linear-gradient(180deg, rgb(254, 225, 229) 0%, rgb(245, 203, 175) 100%);
    color: rgb(255, 249, 226);
    border: 10px double #f7edb5;
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 3vw;
}

.enter{
    margin-left: 5%;
    margin-right: 5%;
}

