/* STYLE FOR YOUR INDEX.HTML */
@font-face {
    font-family: Simply Rounded;
    src: url("fonts/Simply Rounded.ttf");
}


body {
    margin: 0;
    background: linear-gradient(135deg, #6ca9ff 0%, #a0e2ff 100%);
    font-family: Simply Rounded;
}

.headerimage{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 2vw;
}

.flex-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 3vw;
    padding: 2%;
    background-color: rgb(174, 174, 174);
}


.light{
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-around;
}

.portrait{
    background-color: gray;
    text-align: center;
    padding: 5%;
}

.textbox{
    background-color: rgb(160, 160, 160);
    margin: 3%;
    padding: 2%;
    font-size: 130%;
}

button{
    background-color: #87e0fd;
    border: 8px double #33b4ff;
    color: rgb(255, 255, 255);
    border-radius: 40%;
    font-family: Simply Rounded;
    font-size: 170%;
    padding: 5%;
    margin: 3%;
    transition: 0.3s;
}

button:hover{
    background-color: #49a4ff;
    color: rgb(187, 223, 255);
    border: 10px double #ffffff;
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 3vw;
}

.enter{
    margin-left: 5%;
    margin-right: 5%;
}

